#left-bar {
  background-color: black;
}
ul {
  list-style-type: none;
}

#playlist-list {
  max-height: calc(100vh - 215px);
  overflow-y: auto;
}

#playlist-list > div > ul > li {
  margin-bottom: 0.7rem;
  font-size: 14px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
