.top-playlist {
  top: 69px;
}

#song-list img {
  width: 50px;
}
#song-list p {
  line-height: 0;
}

#central-bar::-webkit-scrollbar-thumb {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  opacity: 0.5;
}

#central-bar-container,
#nav-bar-central {
  background: rgb(112, 36, 36);
}

@media screen and (min-width: 768px) {
  #central-bar {
    max-height: calc(100vh - 147px);
    overflow-y: auto;
  }
}

.icon-player-container {
  width: 56px;
  height: 56px;
  background-color: #1ed760;
  border-radius: 50%;
}

.mb-mobile {
  margin-bottom: 220px;
}
