#central-bar-container.artist-head {
  height: 370px;
  background-image: url("");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#verify-icon {
  width: 25px;
  color: #3d91f4;
}

/* #artist-head-text {
  height: 370px;
} */

.icon-player-container {
  width: 56px;
  height: 56px;
  background-color: #1ed760;
  border-radius: 50%;
}

.album-img-container {
  width: 40px;
}

#central-bar {
  max-height: 100vh;
  overflow-y: auto;
}

#central-bar::-webkit-scrollbar-thumb {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  #central-bar {
    max-height: calc(100vh - 147px);
    overflow-y: auto;
  }
}

.album-card {
  width: 48%;
}

#artist-repertoire {
  margin-bottom: 220px;
}

@media screen and (min-width: 768px) {
  .album-card {
    width: 15%;
  }
  #artist-repertoire {
    margin-bottom: 0px;
  }
}
