body {
  overflow: hidden;
}

.card {
  background-color: #2d2d2d;
}

/* @media screen and (min-width: 768px) {
  #central-bar-container {
    background: rgb(18, 18, 18);
    background: linear-gradient(
      0deg,
      rgba(18, 18, 18, 1) 0%,
      rgba(34, 34, 34, 1) 100%
    );
  }
} */

#album-body {
  background: linear-gradient(
    10deg,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(0, 0%, 13%, 1) 100%
  );
}

#friend-container p {
  font-size: 0.8rem;
}

#friend-container p:last-child {
  font-size: 0.6rem;
}

#friend-container span {
  font-size: 0.6rem;
}

#friend-container::-webkit-scrollbar-track,
#playlist-list::-webkit-scrollbar-track,
#central-bar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #00000018;
}

#friend-container::-webkit-scrollbar,
#playlist-list::-webkit-scrollbar,
#central-bar::-webkit-scrollbar {
  width: 10px;
}

#friend-container::-webkit-scrollbar-thumb,
#playlist-list::-webkit-scrollbar-thumb,
#central-bar::-webkit-scrollbar-thumb {
  background-color: rgb(66, 66, 66);
}

ul {
  list-style-type: none;
}

#user-dropdown {
  background-color: #0b0b0b;
}

#play-bar {
  height: 139px;
}

#play-bar {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 55%,
    rgba(49, 36, 36, 0) 100%
  );
}

@media screen and (min-width: 768px) {
  #play-bar {
    background: black;
  }
}

#playlist-list {
  max-height: calc(100vh - 390px + 36px);
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (min-width: 1200px) {
  #playlist-list {
    max-height: calc(100vh - 390px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}

#central-bar {
  max-height: 100vh;
  overflow-y: auto;
}

@media screen and (min-width: 768px) {
  #central-bar {
    max-height: calc(100vh - 217px);
    overflow-y: auto;
  }
}

#friend-container {
  max-height: calc(100vh - 203px);
  overflow-y: auto;
  overflow-x: hidden;
}

#playlist-list > div > ul > li {
  margin-bottom: 0.7rem;
  font-size: 11px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fs-big {
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .fs-big {
    font-size: 80px;
  }
}

.fs-7 {
  font-size: 14px;
}

.fs-8 {
  font-size: 12px;
}

.fs-9 {
  font-size: 10px;
}

#hero-left-side ul li {
  margin-bottom: 1rem;
  max-height: 20px;
}

.bg-plus {
  background-color: #b2b2b2;
}
.bg-heart {
  background-image: linear-gradient(
    315deg,
    rgb(233, 98, 215) 0%,
    rgb(235, 229, 238) 0%,
    rgb(59, 27, 169) 64%
  );
}
.bg-darkgreen {
  background-color: rgb(11, 60, 11);
}

.p-icons {
  padding: 0.3rem;
}
.fs-icons {
  font-size: 1.45rem;
}

.bg-spotify {
  background-color: #121212;
}

.bg-accent {
  background-color: #2a2a2a;
}

.remove-scrollbar::-webkit-scrollbar {
  display: none;
}

.song-fixed-player {
  left: 16px;
  bottom: 110px;
  width: 94vw;
}

/* sezione artista */

/* #central-bar-container.artist-head {
  height: 370px;
  background-image: url("https://images.unsplash.com/photo-1445375011782-2384686778a0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#verify-icon {
  width: 25px;
  color: #3d91f4;
}

#nav-bar-central {
  background-color: transparent;
}

#artist-head-text {
  height: 300px;
}

.icon-player-container {
  width: 50px;
  height: 50px;
  background-color: #1ed760;
  border-radius: 50%;
}

.album-img-container {
  width: 40px;
} */

/* card home changes */

@media screen and (min-width: 1200px) {
  .playlist-card {
    max-height: 64px;
  }
  .playlist-card img {
    max-width: 64px;
    max-height: 64px;
  }
}

#hero-btn {
  color: #1ed760;
  font-size: 4rem;
}

.card-badge {
  top: 20px;
  right: -15px;
  z-index: 2;
  background-color: #363636;
  opacity: 50%;
}

.browse-card {
  width: 40%;
  aspect-ratio: 1/1;
  overflow: hidden;
}

@media screen and (min-width: 576px) {
  .browse-card {
    width: 30%;
    aspect-ratio: 1/1;
    overflow: hidden;
  }
}

@media screen and (min-width: 768px) {
  .browse-card {
    width: 20%;
    aspect-ratio: 1/1;
    overflow: hidden;
  }
}

@media screen and (min-width: 1200px) {
  .browse-card {
    width: 12.5%;
    aspect-ratio: 1/1;
    overflow: hidden;
  }
}

.rotate-image {
  rotate: 30deg;
  width: 70%;
  position: absolute;
  bottom: -20px;
  right: -16px;
  box-shadow: #0b0b0b 0px 9px 9px 2px;
}

.browse-title {
  top: 5px;
  left: 10px;
  z-index: 3;
}

.bg-dark-2 {
  background-color: #181818;
}

.bg-dark-2-hover {
  background-color: unset;
  transition: background-color 0.3s;
}

.bg-dark-2-hover:hover {
  background-color: #252525;
  border-radius: 10px;
}

.pointer {
  cursor: pointer;
  opacity: 0.9;
  transition: all 0.3s;
}

.pointer:hover {
  opacity: 1;
}

.card {
  transition: background-color 0.3s;
}
.card:hover {
  background-color: #252525;
}

@media screen and(min-width: 576px) {
  #central-bar {
    height: calc(100vh - 147px);
  }
}

#playlist-bar {
  height: calc(100vh - 259px);
}

#friend-container {
  height: calc(100vh - 203px);
}
